//reglas general
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.body-background{
    background-image: url(../../img/fondo_pagina.jpg);
    display: flex;
    flex-direction: column;
}

//navegador 
        .navbar {
            background-color: #e6b8b8;
            position: fixed;
            top: -80;
            z-index: 1000;
            width: 100%;
            transition: top 0.3s ease;
            box-sizing: border-box;
            .navbar.show {
                top: 0;
            }
            .container-nav{
                .mimate-link{
                    font-family:'Dancing Script', cursive;
                    color: #fff;
                    font-weight: 700;
                    font-size: 3rem;
                    &:hover{
                        color: #ccc;
                    }
                }
                .container__nav--links{
                    .links__items--style{
                        .nav-item{
                            .nav-link{
                                font-family: Playfair Display;
                                font-size: 1.3rem; 
                                font-weight: 700;
                                color: #fff;
                                text-transform: capitalize;
                                &:hover{
                                    color: #ccc;
                                }
                            }
                        }
                    }
                }
            }
        }


// Whatsapp
.whatsapp-float {
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
    display: block;
    width: 60px;
    height: 60px;
    &:hover{
        opacity: 0.4;
    }
}
.whatsapp-float img {
    width: 100%;
    height: 100%;
    border-radius: 50%; /* Opcional: para darle un toque redondeado */
    box-shadow: 0 4px 6px rgba(0,0,0,0.3); /* Opcional: agrega una sombra */
}

// Separacion del navegador
.placeholder {
    height: 110px;
    background-image: url(../../img/fondo_pagina.jpg);
}

//header
.section-container {
    padding: 20px;
}

.top-image {
    background: url('../../img/fondo-header.jpg') no-repeat center;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family:'Dancing Script', cursive;
    .name-marca{
        font-size: 4rem;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        text-align: center;
        font-family: "Latin Modern Math", "Cambria Math", serif;
      }
}



.image-grid {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.image-container {
    position: relative;
    width: 50%;
}

.grid-hover {
    width: 100%;
    height: 500px;
    display: block;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #EAC7C1;
    opacity: 0.5;
    padding: 20px 30px;
    border-radius: 20px;
    text-align: center;
    font-size: 1.1em;
    font-weight: 700;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .top-image {
        height: 300px; /* Even more compact for smaller mobile devices */
    }
    
    .image-grid {
        display: none;
    }
    .header-text {
        font-size: 1em;
    }
    
    .header-brand {
        font-size: 1.2em;
    }
    .whatsapp-float img {
        width: 90%;
        height: 90%;
    }
}

// -----------------------

// Seccion de cards
.title{
    margin: 20px 0 30px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.h2{
    text-transform: uppercase;
    font-weight: bold;
    font-family: Playfair Display;
    letter-spacing: 1px;
    font-size: 2.5em;
}

// cards con grid
.container-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin: auto;
    .card{
        background: white;
        padding: 15px;
        border-radius: 10px;
        text-align: center;
        .card-imagen{
            .producto-imagen{
                width: 100%;
                height: 150px;
                object-fit: contain;
                border-radius: 10px;
            }
        }
        .card-name{
            background-color: #EAC7CF;
            margin: 10px 0;
            font-size: 1.2rem;
            border-radius: 10px;
        }
        }
}
        .separador {
            height: 100px;
            background-image: url(../../img/fondo_pagina.jpg);
        }
        
        /* Media query para mobile */
        @media (max-width: 768px) {
            .h2{
                font-size: 1.5em;
            }
            .container-card {
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                gap: 30px;
                padding: 15px;
                margin-bottom: 50px;
                .card {
                    .card-imagen {
                        .producto-imagen {
                            height: 100px;
                        }
                    }
                    
                    .card-name {
                        font-size: 1rem;
                        padding: 8px;
                    }
                }
            }
            
            .separador {
                display: none;
            }
        }

// Preguntas Frecuentes
.container-ayuda{
    background-color: #EAC7CF;
    padding: 80px;
    .ayuda-titulo{
        padding: 10px;
        font-size: 2em;
        text-transform: uppercase;
        font-weight: bold;
        font-family: Playfair Display;
        letter-spacing: 1px;
    }
    .accordion-item {
        border-bottom: none; /* Elimina el borde inferior */
        .accordion-button:hover {
            color: #EAC7CF;
        }
        .accordion-button::after {
            display: none; /* Oculta la flecha */
        }
        .accordion-body {
            text-align: left;               /* Alinea el texto a la izquierda */
            border-left: 4px solid #EAC7CF;   /* Agrega un borde izquierdo para resaltar */
            padding-left: 5px;                /* Elimina el padding a la izquierda */
            margin-left: 0;                 /* Elimina el margen a la izquierda */
        }
    }
}

/* Media query para móviles (hasta 600px) */
@media (max-width: 768px) {
    .container-ayuda {
        padding: 30px 20px;
        
        .ayuda-titulo {
            font-size: 1.3em;
            letter-spacing: 0;
            padding: 10px 0;
            text-align: center;
        }
        
        .accordion-item {
            margin-bottom: 15px;
            
            .accordion-button {
                padding: 12px 15px;
                font-size: 0.7em;
            }
            
            .accordion-body {
                padding: 15px 0 15px 10px;
                font-size: 0.9em;
                border-left-width: 3px;
            }
        }
    }
    // sobre nosotros historia
    .fila{
        display: none;
    }

    // ubicacion
        .container_nosotros {
            padding-bottom: 40px;
            gap: 30px;
            .fila-mapa{
                display: flex;
                flex-direction: column-reverse;
                text-align: center;
    
            .container-historia{
                padding: 20px;
                line-height: 1.8;
                text-align: center;
                .nosotros-h3 {
                    line-height: 1.5;
                    font-size: 1em;
                    margin-bottom: 15px;
                    text-align: center;
                }
    
                .description-text {
                    font-size: 0.95rem;
                }
            }
    
            .col .iframe-ubicacion {
                height: 350px;
            }
        }
    }
}
    


// Sobre nosotros
    .container-after::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #1111;
    margin: 40px auto 0;
}

.container_nosotros{
    box-sizing: border-box;
    padding-bottom: 40px;
    .col{
        .iframe-ubicacion{
            max-width: 600px;
            height: 400px;
            padding: 30px 0 0 0;
        }
    }
    .container-historia{
        padding: 20px;
        line-height: 2;
        .nosotros-h3{
            text-align: left;
            line-height: 1.5;
            text-transform: uppercase;
        }
        .nosotros-texto{
            text-align: left;
        }
    }


    

    // Grid de fotos
    .grid-photos{
        display: grid; /* Activa CSS Grid */
        grid-template-columns: 1fr 2fr;
        grid-template-rows: minmax(150px, 200px)  minmax(150px, 250px);
        grid-template-areas: 
        "content sidebar"
        "footer footer";
        gap: 10px;
        .photo-1{
            grid-area: content;
            background: url('../../img/Salida_del_sol_en_el_horizonte_marino.jpg') no-repeat;
        }
        .photo-2{
            grid-area: sidebar;
            background:  url('../../img/puerto.jpg') no-repeat;
        }
        .photo-3{
            grid-area: footer;
            background:url('../../img/pesca.jpg') no-repeat;
        }
    }

}


